header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0f1111;
    color:white;
}
.horizontal-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.horizontal-images img {
    width: 20px;
    height: auto;
    margin: 0 10px;
  }
  
  .search-bar img {
    width: 200px; /* Set the width of the search bar image */
    height: auto;
  }

  .miniheader{

  }


  .miniheader {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .miniheader li {
    display: inline-block;
  }

  .miniheader li p {
    margin: 0;
  }
