header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#00453e;
    color:white;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00453e;
  color:white;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.nav img {
    width: 20px;
    height: auto;
    margin: 0 10px;
  }
  
  .search-bar img {
    width: 200px; /* Set the width of the search bar image */
    height: auto;
  }

  .miniheader {
    background-color:#00453e ;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .miniheader li {
    color: white;
    flex: 0 0 auto; /* Maintain fixed size for each item */
    width: 100px; /* Adjust the width as needed */
    margin-right: 3px; /* Add spacing between items */
    margin-left:2px ;
  }

  .miniheader li p {
    margin: 0;
  }


  .recommended {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling (optional) */
    gap: 10px; /* Adjust spacing between images */
    padding: 10px 0; /* Optional padding */
}

.recommended img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    flex: 0 0 auto; /* Maintain original image size */
}

  footer article{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


